
/*....header area....*/

.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: solid black 1px;
  padding: 15px;
}
.header h3 {
  margin-left: 15px;
}

h3 {
display: inline-flex;
font-size: 14px;
color: MediumAquamarine;
flex-grow: 2;

}

.nav a {
color: black;
}

.nav li {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 1;
  padding: 10px;
  margin-right: 25px;
}

/*....main content....*/

.content {
  display: flex;
  justify-content: space-between;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.content h3 {
  color: black;
  font-size: 20px;
}
.leftcolumn{
width: 630px;
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.middlecolumn {
width: 300px;
display: flex;
flex-direction: column;
}
.rightcolumn {
width: 240px;
display: flex;
flex-direction: column;
}

/*....News Stories, left column....*/

.mother {
}

.mainstory {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  display: flex;
  background-image: url("images/img-story-main.png");
  height: 300px;
}
.leftstories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.orca {
  flex: 1;
  flex-basis: 280px;
  padding-right: 20px;
  padding-bottom: 50px;
}
.burger {
  flex: 1;
  flex-basis: 280px;
  padding-bottom: 50px;
}
.earth {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  order: 3;
  height: 300px;
  text-align: center;
  background-image: url("images/img-story-2.png");
  flex: 1;
  flex-basis:  280px;
  margin-right: 20px;
}

.research {
 font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  flex: 1;
  order: 4;
  text-align: center;
  background-image: url("images/img-story-3.png");
  flex-basis: 280px;
  height: 300px;
}

/*..New Stories middle column..*/

.cats {
  font-family: Georgia;
   font-weight: bold;
   font-size: 30px;
   color: white;
   display: flex;
   text-align: center;
   background-image: url("images/img-story-1.png");
   flex-basis: 280px;
   height: 300px;
}

/*..New Stories right column..*/
.cookie {
  display: flex;
  background-image: url("images/img-news-bite.png");
  flex-basis: 280px;
  height: 300px;
}
.bites  {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}
//*.newsbitelist {
    background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;*/
}

//*.newsbitelist ul {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin: 0;*/

}

.rightstyle {
  display: flex;
  justify-content: flex-start;
}

.newsbitelist ul {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  list-style: none;
}
.newsbitelist li {
  border-bottom: solid black 1px;
  align-self: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
}
