
/*....header area....*/

.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: solid black 1px;
  padding: 15px;
}
.header h3 {
  margin-left: 15px;
}

h3 {
display: inline-flex;
font-size: 14px;
color: MediumAquamarine;
flex-grow: 2;

}

.nav a {
color: black;
}

.nav li {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 1;
  padding: 10px;
  margin-right: 25px;
}

/*....main content....*/

.content {
  display: flex;
  justify-content: space-between;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.content h3 {
  color: black;
  font-size: 20px;
}
.leftcolumn{
width: 630px;
display: flex;
flex-direction: column;
}

.middlecolumn {
width: 300px;
display: flex;
flex-direction: column;
}
.rightcolumn {
width: 240px;
display: flex;
flex-direction: column;
}

/*....News Stories....*/

.mother {
}

.mainstory {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  display: flex;
  background-image: url("images/img-story-main.png");
  height: 300px;
}
.leftstories {
  display: flex;
  flex-flow: row wrap;
}
.orca {
  flex: 1;
  min-width: 300px;
}
.burger {
  flex: 1;
  min-width: 300px;
}
.earth {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  order: 3;
  height: 300px;
  text-align: center;
  background-image: url("images/img-story-2.png");
  flex: 1;
  min-width: 300px;
}

.research {
 font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  flex: 1;
  order: 4;
  text-align: center;
  background-image: url("images/img-story-3.png");
  min-width: 300px;
  height: 300px;
}


.cats
